.basket {
    display: flex;
    margin: 20px;
    border-bottom: 1px solid lightgray;
}

.basket:last-child {
    border-bottom: none;
}

.basket_info {
    padding: 20px;
}

.basket_info > button {
    background: #f0c14b;
    border: 1px solid;
    margin-top: 10px;
    border-color: #a88734 #9c7e31 #846a29;
    color: #111;
}

.basket_image {
    object-fit: contain;
    width: 180px;
    height: 180px;
}

.basket_rating {
    display: flex;
}

.basket_title {
    font-size: 17px;
    font-weight: 800;
}

@media (max-width: 500px) {
    .basket {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .basket_rating {
        margin: 0 30%;
    }
}